.farm-card-pagination {
  margin-top: 15;
  display: flex;
}

.farm-card-pagination ul {
  margin-left: auto;
  margin-right: auto;

}

.farm-reports-container {
  margin-bottom: 15px !important;
}

.farm-card {
  margin: 1rem !important;
  cursor: pointer !important
}

.farm-card-content {
  display: flex !important;
  margin: 0 !important;
  padding: 5px !important;
  display: 'flex' !important;
  justify-content: space-between !important;
  align-items: 'center' !important
}

.farm-card-header {
  margin-top: 5px !important;
  margin-left: 5px !important;
}

.farm-card-title {
  width: 75% !important;
  display: -webkit-box !important;
  -webkit-line-clamp: 2 !important;
  -webkit-box-orient: vertical !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  margin-right: 0px !important;
}
