.MuiFormControl-root{
    padding: 5px !important;
  }
  
  .selectValidator{
    display: flex !important;
    flex-direction: column;
    color: red;
  }
  
  .formValidator{
    display:flex;
    flex-direction: column;
  }

  #descripcion  {
    margin-top: 15px;
  }
  #btn-ok {
    background-color: #999999 ;
    color: white ;
  }

  #btn-cancel {
    background-color: #787676 ;
    color: white ;
  }

  #fileInput::-webkit-file-upload-button{
    visibility: hidden;
  }

  input[type="file"] {
    position: absolute;
    top: -9999px;
    left: -9999px;
    opacity: 0;
}