.activo {
    background-color: green;
}

#simple-popper {
    inset: 20px auto auto -80px !important
}

.row-head {
    display: flex;
    justify-content: center;
    align-items: center;

}

.container-body-filtro {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.boxSpanSorted {
    left: -83px;
}

.contIcons {
    display: flex;
    float: right;
    flex-direction: row;
    justify-content: space-between;
}

.iconUp :hover {
    color: rgb(164, 241, 255);
    cursor: pointer;
}